@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Zen+Tokyo+Zoo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./imagen/fondo.jpg');
}

 header{
  width: 100%;
  position: fixed;/* se mantiene por encima de todo y pegado*/
  top: 0px;
  left: 0px;
  background-color:  #547ea7;
  font-family: 'Zen Tokyo Zoo'
}

/*HEADER SUPERIOR*/
.logoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size:larger; 
  color:#19191a;
  letter-spacing: 5px;
  margin: 15px;
  }


/* BARRA MENU*/
.navegacion{
  width: 100%; 
  min-height: 4em;
  background-color:#a77d54;
  padding: 1em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Inicio, #boton, #Estadisticas{
  height: 35px;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Zen Tokyo Zoo';
  font-size: 1.1em;
  font-weight:bold;
  cursor: pointer;
}

#Inicio:hover {
  background-color:#75664F;
  color: white ;
  transform: scale(1.1);
}

#Estadisticas:hover {
  background-color:#75664F;
  color: white ;
  transform: scale(1.1);
}

#continent-select{
  width: 170px;
  height: 35px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#order-select{
  width: auto;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
}

#Buscar{
  width: 170px;
  height: 35px;
  font-family: sans-serif;
  font-weight: bold;
  color: #19191a;
  cursor: pointer;
}

#root{
  margin-top: 220px;
  display: flex ;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 1rem;
}

.card {
  background-color: #faf2f4;
  margin: 10px;
  padding: 15px;
  border: 5px solid #547ea7;
  text-align: justify;
  text-align:center;
  font-family: sans-serif;
  box-sizing: border-box;
  /***Muestra del cursor en cada carta***/ 
  cursor: pointer;
}

.card p{
  font-size: 1.5em;
  font-weight: bold;
  box-sizing: border-box;
}
/***Sobresale la carta al pasar el mouse***/
.card:hover{
  transform: scale(1.10);
  border: 5px solid #a77d54;
}
/***Define el tamaño de cada bandera***/
.card img {
 height: 150px;
 width: 250px;
}
/***Ventana modal***/
.modal {
  width: 100%;
  height:100%;
 position:fixed;/**fijar en la página*/
 top:0;
 left:0;
 right: 0;
 bottom: 0;
 background-color: #111111bd;
 display:flex;
 font-family: sans-serif;
}

.modal_container{
  margin:auto;
  width: 30em;
  max-width: 60em;
  max-height: 100%;
  background-color: whitesmoke;
  border-radius: 1em; 
  padding: 2em ;
  display: grid;
  gap: 1.1em;
  place-items:initial;
  list-style: none
}

.modal img{
  width: 15em;
  height: auto;
  display: block;
  margin: 0 auto;
}
.modal p{
  text-align: center;
  font-size: 1.5em;
  font-weight:bold; 
  box-sizing: border-box;
}

#subregion-checkboxes {
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e3c1a0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 2em;
}

#a.modal_close_button{
  display: flex
  align-items;
}

.style_table{
  border-collapse: collapse;
  margin: 35px; 
  font-family: sans-serif;
  font-size: 1em;
  min-width: 450px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  background-color: #e3c1a0;
  text-align: center;
}

.style_table1{
  border-collapse:collapse;
  margin: 35px; 
  font-family: sans-serif;
  font-size: 1em;
  min-width: 450px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  background-color: #e3c1a0;
  text-align: center;
}

.pie_de_pagina{
  font-family: sans-serif;
  width: 100%;
  height: 2em;
  background-color: #547ea7;
  font-weight:bold ;
  font-size: larger;
  text-align: center;
  padding-top: 0.5em;
  position: fixed;
  bottom: 0;
  margin-top: 5%;
} 

@media only screen and (max-width: 720px){
    
  .logoTitulo {
    display: flex;
    align-items: center;
    justify-content:initial;
    font-size: 0.5em;
    letter-spacing: 0.5px;
    padding: auto;
    margin: 1em;
    height: 8em;
  }

  .logoTitulo img {
    scale: 0.5;
  }

  .card {
    background-color: #faf2f4;
    margin: 5px;
    padding: 5px;
    border: 2px solid #547ea7;
    text-align: justify;
    text-align:center;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: pointer;
  }

  .card p {
    font-size: 0.8em;
    box-sizing: border-box;
  }

  .card img {
    height: 75px;
    width: 125px;
  }

 
  #Inicio, #boton, #Estadisticas{
    font-size: 0.8em ;
  }
 
  .modal_container{
    width: 20rem;
    max-width: 40rem;
    max-height: 100%;
    background-color: whitesmoke;
    border-radius:  0.5em; 
    padding: 1em ;
    display: grid;
    gap: 0.8em;
  }
  
  .modal img{
    width: 10em !important;
  }
  
  .modal p{
    text-align: center;
  }
  
  .navegacion{
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #Inicio, #order-select, #Estadisticas{
    margin-right: 1em;
  }

  .btn{
    scale: 1.3;
  }

  #continent-select{
    width: auto;
    height: 3em;
    font-family: sans-serif;
    font-size: 0.5em;
  }
  
  #order-select{
    width: auto;
    height: 3em;
    font-size: 0.5em;
  }
  
  #Buscar{
    width: 100px;
    height: 3em;
    font-size: 0.5em;
  }

  #root{
    margin-top: 160px;
  }

  #subregion-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 0.6em;
    vertical-align: middle;
  }

  .style_table{
    margin: 10%; 
    font-size: 0.8em;
    min-width: 70%;
  }
  
  .style_table1{
    margin: 10%; 
    font-size: 0.8em;
    min-width: 70%;
  }

  .pie_de_pagina{
    font-size: 0.7em;
    height: 2em;
    padding: 1%;
  }
}